# Front
VITE_API_BASE_URL=http://localhost:3000/
# Back
DB_HOST=db
DB_USER=devsforge
DB_PASSWORD=test123
DB_NAME=devsforge
DB_PORT=5432
JWT_SECRET=your_jwt_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
PORT=3000
LOG_DIR=/app/sim-logs/
#Support all,console,json
LOG_MODE=all
# Kafka + simulator runtime
KAFKA_ADDRESS=kafka:9092
COORDINATOR_PATH=/app/simulator/coordinator

#Compose config
DEVSFORGE_IMAGE_TAG=latest

#Binary mode: Specify the path of coordinator binary, runner binary and parent folder of wrappers/ directory
# Check backend service in docker-compose.local.yml for example
#SIM_CMD=/app/devforge-coordinator
#RUNNER_CMD=/app/devsforge-runner
#DEVSFORGE_SIM_ROOT=/app

#
# Islands mode
# SIMULATOR_ADDR=simulator:8080